:root {
  --heading-green: rgb(8, 239, 8);
  --primary-fade: #9f9f9f;
  --primary-white: #ffffff;
  --primary-blue: #416aff;
  --nav-background: rgba(33, 33, 33, 0.75);
  --primary-black: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  background-color: #0c0c0c;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--primary-white);
}
